body{
    color: #b5b5b5;
    background: linear-gradient(360deg, #722C15, #8F602D, #1a1a1a);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Satoshi;
}

.logo{
    max-width: 100%;
    height: auto;
}

.bg
{
  width: 100%;
  z-index: 0;
}

.bigbox {
    width: 80%;
    margin: 50px auto;
    padding: 40px;
    background: linear-gradient(180deg, #722C15, #8F602D, #1a1a1a);
    backdrop-filter: blur(10px) saturate(180%);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.57);
}

.aboutsection a{
    color: #b5b5b5;
    text-decoration: none;
}

.aboutlinks{
    transition: transform 0.3s;
}
.aboutlinks:hover {
    transform: translateY(-4px);
}
.aboutsection{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    text-align: right;
    font-weight: 650;
    font-size: 1.5vw;
}

.ashe-22{
    text-align: center;
    font-size: 140px;
    font-family: Bebas;
    margin: 20px;
    margin-bottom: -20px;
    transition: all 0.4s;
    text-shadow:
        0 0 150px #222222,
        0 0 100px #ff5900;
        color: #b5b5b5;

}

.ashe-22:hover {
    letter-spacing: 3px;
}
.line{
    margin-top: 60px
}
.slider {
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 12px;
}

.slides {
    display: flex;
    gap: 10px;
    width: max-content;
    animation: slide 25s linear infinite;
}

.photo {
    flex: 0 0 calc(25% - 7.5px);
    max-width: 240px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

@keyframes slide {
    0% { 
      transform: translateX(0); 
    }
    100% { 
      transform: translateX(-50%); 
    }
}
.logo{
    display: flex;
    width: 30vw;
    margin: auto;
}

.toptext{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 30px;
    font-size: 1.3vw;
}


.photo {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}
.mattia {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 10px;
}
.latest{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 50px;
    font-family: Bebas;
    margin: 10px;
    margin-top: 30px;
    text-shadow:
        0 0 150px #722C15,
        0 0 100px #8F602D;
}
.latestmidtext{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 20px;
    align-items: stretch;
}


.spotifystats{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 50px;
    font-family: Bebas;
    margin: 10px;
    margin-top: 30px;
    text-shadow:
        0 0 150px #722C15,
        0 0 100px #8F602D;
}

.spotifymidtext{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px;
    align-items: stretch;
    margin-bottom: 20px;
}

.spotifyeachbox {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 1px;
    border: 1px solid rgba(255,255,255,0.1);
    transition: transform 0.3s;
}

.spotifyeachbox:hover {
    transform: translateY(-8px);
}

.serv {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #b3b3b3;
    margin-bottom: 8px;
}
.alltime {
    font-size: 14px;
    font-weight: normal;
    color: #888;
    margin-top: -4px;
    margin-bottom: 12px;
}

.spotifydata {
    font-size: 40px;
    font-weight: 800;
    color: white;
    line-height: 1.2;
}

.serv{
    font-size: 1.5vw;
    font-weight: 590;
}

.descr{
    font-size: 1.3vw;
    font-weight: 550;
    margin-top: 2%;
    margin-bottom: 2%;
}

.bigdesc{
    font-size: 1.3vw;
}

.savoir{
    color: white;
    font-size: 1.3vw;
    margin-top: 1vw;
    font-weight: 600;
    
}

footer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.socialmedia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-family: Degular;
    opacity: 0.8;
}

.social{
    color: white;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background: linear-gradient(to right, transparent, #b3b3b3, transparent);
}


@media only screen and (max-width: 768px){
    .ashe-22{
        text-align: center;
        font-size: 60px;
        font-family: Bebas;
        margin: 10px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        margin-bottom: -50px;
        text-shadow:
            0 0 150px #56802A,
            0 0 100px rgba(255, 255, 255, 0.37);
    }
    .spotifymidtext {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        justify-content: center;
    }

    .slider {
        width: 100%;
        max-height: 200px;
        max-width: 1000px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 12px;
    }

    .slides {
        display: flex;
        gap: 10px;
        width: max-content;
        animation: slide 16s linear infinite;
    }

    .bigbox{
        width: 80%;
        margin: 50px auto;
        padding: 30px;
        backdrop-filter: none;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 16px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.57);
    }

    .photo {
        flex: 0 0 calc(25% - 7.5px);
        max-width: 100px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
    .latestmidtext{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        gap: 20px;
        align-items: stretch;
    }
    .spotifydata {
        font-size: 20px;
        font-weight: 800;
        color: white;
        line-height: 1.2;
    }
    .serv{
        font-size: 3vw;
        font-weight: 590;
    }
    .logo{
        max-width: 300%;
        height: auto;
    }

    .aboutsection{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        align-items: center;
        text-align: right;
        font-weight: 650;
        font-size: 2.5vw;
        gap: 10px;
    }

    .socialmedia{
        gap: 5px;
    }

}
